dl {
  margin-bottom: 10px;
}

dt {
  font-weight: normal;
}

dt,dd {
  line-height: 25px;
  padding-top: 5px;
  margin-bottom: 10px;;
}
.home_bp{text-align:center}.home_bp h1{font-size:1.6em}.home_bp p{font-size:1.2em}
